/* Google Fonts Imports */
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Layout Properties */
.section-properties {
  @apply h-screen w-full;
}

/* Button Styles */
.glass-effect-button {
  @apply rounded-xl border border-white/20 bg-white/10 px-6 py-3 font-semibold text-white shadow-md backdrop-blur-lg transition hover:bg-white/20;
}

/* Custom font classes */
.interfont {
  font-family: 'Inter', sans-serif;
  opacity:0.8;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
}


.playfair {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
}

/* Text Colors & Effects */
.main-text-color {
  @apply bg-gradient-to-t from-[#C6AFDB] to-[#FBFCFA] bg-clip-text text-transparent;
}

.gradient-text-dark-to-white {
  background: linear-gradient(to top, #ffffff00, #3a3838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Typography */
.big-text {
  font-family: 'Archivo Black', sans-serif;
  font-weight: calc(100, 3vw, 900);
  font-style: normal;
}

/* Media Queries */
.android-ios {
  @media (max-width: 500px) {
    font-size: clamp(0.5rem, 7vw, 6rem);
  }
}

/* Animations */
.my-fade {
  animation: fadein 3s ease-in forwards;
}

.my-fadetext {
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.drop-in {
  animation: drop 1s ease-out forwards;
}

@keyframes drop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.tracking-in-contract {
  --final-spacing: clamp(1rem, 2vw, 3rem);
  letter-spacing: var(--final-spacing);
  animation: tracking-in-contract 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: var(--final-spacing);
    opacity: 1;
  }
}
/* on scroll animation */

.show_start {
  opacity: 0;
}

.show {
  animation: fade 500ms ease-in-out forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Scrollbar Styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/*  device Components */
.mobile_card_div {
  @apply flex aspect-video h-auto min-h-80 w-full flex-shrink-0 flex-col items-center justify-center gap-3 rounded-2xl bg-cover bg-center bg-no-repeat pr-3 pl-3 text-xl;
}
.md_screen_div {
  @apply flex aspect-video h-70 w-full flex-col justify-center gap-3 rounded-2xl bg-cover bg-center bg-no-repeat pr-3 pl-3;
}
.grid_apply{
  @apply flex flex-col justify-center items-start
}