<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="bg-black w-full">
      <!-- section 1 for the wishlist tab -->
      <section
        class="bg-amber-400 section-properties flex flex-col justify-center items-center"
      >
        <section class="bg-amber-50 h-2/4 w-2/4 flex-properties">
          <article class="bg-black border">Early Access</article>
          <article>hyy</article>
          <article>hyy</article>
          <article>hyy</article>
        </section>
      </section>
      <!-- wishlist tab ends -->
      <section class="bg-orange-700 section-properties"></section>
      <section class="bg-green-700 section-properties"></section>
      <section class="bg-blue-700 section-properties"></section>
    </main>
  </body>
</html>
